node_modules
**/node_modules

.git
.gitignore

.svelte-kit
**/.svelte-kit

build
**/build

.output
**/.output

.vite
**/.vite

coverage
**/coverage

project.inlang/cache
**/project.inlang/cache

.DS_Store
