# Environment Configuration

DOMAIN=localhost
ENVIRONMENT=example # Choice: development, staging, production
PROJECT_NAME="AVLI-EXAMPLE"
DEBUG=true

# CORS Settings
AGENTS_ALLOWED_ORIGINS="http://localhost,https://localhost,http://localhost.example.com"
INGESTOR_ALLOWED_ORIGINS="http://localhost,https://localhost,http://localhost.example.com"

# JWT Settings
JWT_SECRET_KEY="CHANGE_ME_TO_A_RANDOM_32_PLUS_CHAR_STRING"
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_DAYS=30
SECRET_KEY=changethis

# Redis Settings
REDIS_PORT=6379
REDIS_INSIGHT_PORT=8001
REDIS_PASSWORD=changeme

# Qdrant Settings
QDRANT_REST_PORT=6333

# Langfuse Settings
LANGFUSE_TRACING_ENABLED=false
LANGFUSE_PUBLIC_KEY="your-langfuse-public-key"
LANGFUSE_SECRET_KEY="your-langfuse-secret-key"
LANGFUSE_HOST=https://cloud.langfuse.com

# Prometheus Settings
PROMETHEUS_PORT=9091

# Grafana Settings
GRAFANA_PORT=3000
GRAFANA_SECURITY_ADMIN_USER=grafana
GRAFANA_SECURITY_ADMIN_PASSWORD=changeme

# Loki Settings
LOKI_PORT=3100

# Logging Settings
LOG_LEVEL=DEBUG
LOG_FORMAT=console
