# Domain
# This would be set to the production domain with an env var on deployment
# used by Traefik to transmit traffic and acquire TLS certificates
DOMAIN=localhost
# To test the local Traefik config
# DOMAIN=localhost.tiangolo.com

# Choice: development, staging, production
ENVIRONMENT=development

PROJECT_NAME="AVLI-EXAMPLE"

# Backends
AGENTS_CORS_ORIGINS="http://localhost,https://localhost,http://localhost.example.com"
INGESTOR_CORS_ORIGINS="http://localhost,https://localhost,http://localhost.example.com"
SECRET_KEY=changethis

# Configure ports and passwords for the standalone services used by backends (Production only)
QDRANT_REST_PORT=6333

REDIS_REST_PORT=6379
REDIS_UI_REST_PORT=8001
REDIS_PASSWORD=changethis

# Configure these with your own Docker registry images (Production only)
DOCKER_IMAGE_AGENTS=ghcr.io/agents
DOCKER_IMAGE_INGESTOR=ghcr.io/ingestor

LOG_LEVEL=DEBUG
ENVIRONMENT=development
HOST=0.0.0.0
PORT=8002
WORKER_COUNT=4
