.venv
**/.venv

__pycache__
**/__pycache__

*.py[cod]
*.pyc

.cache

.pytest_cache
**/.pytest_cache

.ruff_cache
**/.ruff_cache

.ty_cache
**/.ty_cache

.mypy_cache
**/.mypy_cache

coverage
**/coverage

htmlcov
**/htmlcov

src.egg-info

.env
.env.*
!.env.example

tests
.deepeval
